<ul>
    {% for entity in entities %}
        <li>
            id : {{ entity.id }}<br />
            mail : {{ entity.mail }}<br />
            Solde : {{ entity.amount }}
        </li>
    {% endfor %}
</ul>